@{
    ViewData["Title"] = "Register";
}

@model AccountAddViewModel

<div class="horizontal-center-register font-size">
    <div class="text-right">
        <button name="btLogin" class="btn btn-primary">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "white-link font-size" })</button>
    </div>

    <div class="text-center ">
        <h1>@ViewData["Title"]</h1>
        <div class="blocked-item shadow-lg mb-5 bg-white rounded item-center login-register-height">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="top-margin">
                    @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "form-control" })
                </div>
                <div class="in-between-margin">
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                </div>
                <div class="in-between-margin">
                    @Html.PasswordFor(m => m.RepeatPassword, new { @placeholder = "Repeat password", @class = "form-control" })
                </div>
                <div class="in-between-margin">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                </div>
                <div>
                    <text class="text-danger">@ViewBag.Message</text>
                </div>
                <input type="submit" value="Register" class="btn btn-primary float-right align-button-hovering-box" />
            }
        </div>
    </div>
</div>
