@using S25_rpg.Models.Models

@{
    ViewData["Title"] = "Inventory";
}

@model ItemDequipViewModel

<div class="font-size text-center pt-10">
    <div class="text-right">
        <button class="btn btn-primary">@Html.ActionLink("Go back to Town", "Index", "Town", null, new { @class = "white-link font-size" })</button>
        <button class="btn btn-primary">@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "white-link font-size" })</button>
    </div>
    <div class="font-size text-center">
        <h1>Inventory</h1>
        <div class="border-dark border rounded container">
            <div class="row">
                <div class="col border-right border-dark">
                    @{
                        Equipped HeadEquip = (ViewBag.Equipped as IEnumerable<Equipped>).FirstOrDefault(x => x.ItemLocation == Equiplocation.Head) ?? new Equipped(0, "None", Equiplocation.Head);
                        Equipped BodyEquip = (ViewBag.Equipped as IEnumerable<Equipped>).FirstOrDefault(x => x.ItemLocation == Equiplocation.Body) ?? new Equipped(0,"None",Equiplocation.Body);
                        Equipped LegsEquip = (ViewBag.Equipped as IEnumerable<Equipped>).FirstOrDefault(x => x.ItemLocation == Equiplocation.Legs) ?? new Equipped(0, "None", Equiplocation.Legs);
                        Equipped LeftEquip = (ViewBag.Equipped as IEnumerable<Equipped>).FirstOrDefault(x => x.ItemLocation == Equiplocation.Left) ?? new Equipped(0, "None", Equiplocation.Left);
                        Equipped RightEquip = (ViewBag.Equipped as IEnumerable<Equipped>).FirstOrDefault(x => x.ItemLocation == Equiplocation.Right) ?? new Equipped(0, "None", Equiplocation.Right);
                    }
                    <div class="container">
                        <div class="row margin-tb">
                            <div class="col">
                                Head:
                            </div>
                            <div class="col">
                                @HeadEquip.ItemName
                            </div>
                            <div class="col">
                                @if (HeadEquip.ItemId != 0)
                                {
                                    using (Html.BeginForm("DequipItem", "Inventory"))
                                    {
                                        @Html.Hidden("Id", HeadEquip.ItemId)
                                        <input type="submit" class="btn btn-dark" value="Dequip">
                                    }
                                }
                            </div>
                        </div>
                        <div class="row margin-tb">
                            <div class="col">
                                Body:
                            </div>
                            <div class="col">
                                @BodyEquip.ItemName
                            </div>
                            <div class="col">
                                @if (BodyEquip.ItemId != 0)
                                {
                                    using (Html.BeginForm("DequipItem", "Inventory"))
                                    {
                                        @Html.Hidden("Id", BodyEquip.ItemId)
                                        <input type="submit" class="btn btn-dark" value="Dequip">
                                    }
                                }
                            </div>
                        </div>
                        <div class="row margin-tb">
                            <div class="col">
                                Legs:
                            </div>
                            <div class="col">
                                @LegsEquip.ItemName
                            </div>
                            <div class="col">
                                @if (LegsEquip.ItemId != 0)
                                {
                                    using (Html.BeginForm("DequipItem", "Inventory"))
                                    {
                                        @Html.Hidden("Id", LegsEquip.ItemId)
                                        <input type="submit" class="btn btn-dark" value="Dequip">
                                    }
                                }
                            </div>
                        </div>
                        <div class="row margin-tb">
                            <div class="col">
                                Left:
                            </div>
                            <div class="col">
                                @LeftEquip.ItemName
                            </div>
                            <div class="col">
                                @if (LeftEquip.ItemId != 0)
                                {
                                    using (Html.BeginForm("DequipItem", "Inventory"))
                                    {
                                        @Html.Hidden("Id", LeftEquip.ItemId)
                                        <input type="submit" class="btn btn-dark" value="Dequip">
                                    }
                                }
                            </div>
                        </div>
                        <div class="row margin-tb">
                            <div class="col">
                                Right:
                            </div>
                            <div class="col">
                                @RightEquip.ItemName
                            </div>
                            <div class="col">
                                @if (RightEquip.ItemId != 0)
                                {
                                    using (Html.BeginForm("DequipItem", "Inventory"))
                                    {
                                        @Html.Hidden("Id", RightEquip.ItemId)
                                        <input type="submit" class="btn btn-dark" value="Dequip">
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="container">
                        @{
                            int itemsInDiv = 0;
                            Item i = (ViewBag.Items as IEnumerable<Item>).Last();
                            foreach (Item item in ViewBag.Items)
                            {
                                if (itemsInDiv == 0)
                                {
                                    @Html.Raw("<div class='row margin-tb'>");
                                }
                                <div class="col">
                                    @{
                                        @item.Name @Html.Raw(": ") @item.Ammount @Html.Raw("X")
                                        <i class="fas fa-info-circle pointer" onclick="openModalWithData('inventoryModal', '@item.Name', '@item.Description', '@item.Ammount', '')"></i>
                                        if (item.Equipable)
                                        {
                                            <button class="btn btn-dark">@Html.ActionLink("Equip", "EquipItem", "Inventory", new { item.Id, item.Location }, new { @class = "white-link font-size" })</button>
                                        }
                                    }
                                </div>
                                itemsInDiv += 1;
                                if (itemsInDiv == 1 && item == i)
                                {
                                    @Html.Raw("<div class='col'>")
                                    @Html.Raw("</div>")
                                    @Html.Raw("</div>")
                                }
                                if (itemsInDiv == 2)
                                {
                                    @Html.Raw("</div>");
                                    itemsInDiv = 0;
                                }
                            }
                            <hr class="border-dark" />
                        }
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div id="inventoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questName">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="questDescription">Modal body text goes here.</p>
                <p id="questRequirement">Modal body text goes here.</p>
                <p id="questReward">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>